<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Task owner:</strong>
  <%= @task.task_owner %>
</p>

<p>
  <strong>Task start date:</strong>
  <%= @task.task_start_date %>
</p>

<p>
  <strong>Task end date:</strong>
  <%= @task.task_end_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
